<form method="POST" action="/" enctype='multipart/form-data'>
    <!-- represents the ID of the job post -->
    <input type="hidden" name="id" value="55555" />
    <!-- place the value of the gh_src URL parameter in the field below -->
    <input type="hidden" name="mapped_url_token" />
    <label>First Name <input type="text" name="first_name" /></label><br/>
    <label>Last Name <input type="text" name="last_name" /></label><br/>
    <label>Email <input type="text" name="email" /></label><br/>
    <label>Phone <input type="text" name="phone" /></label><br/>
    <label>Resume <input type="file" name="resume" /></label><br/>
    <label>Cover Letter <input type="file" name="cover_letter" /></label><br/>
    <label>LinkedIn Profile <input type="text" name="question_5555" /></label><br/>
    <label>Some dropdown
        <select name="question_3333">
            <option></option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </label><br/>
    <label>Multi select with checkboxes<br/>
        <label><input type="checkbox" name="question_2222[]" value="2" /> Red</label><br/>
        <label><input type="checkbox" name="question_2222[]" value="5" /> Orange</label>
    </label><br/>
    <input type="submit" />
</form>