<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Apply for a job</h2>
        <p>Node JS Docker container using EJS templates</p>

        <% include ../partials/form %>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>